/* Definindo variáveis de cor */
:root {
    --primary-color: #1f1f1f;
    --primary-color-contrast: #2d2d2d;
    --primary-color-hover: #3c3c3c;
    --card-background: #3c3c3c;
    --button-color: #00b894;
    --button-hover-color: #17a085;
    --button-back-color: #00b894;
    --text-color: #ffffff;
    --input-background-color: #f0f0f0;
    --label-color: #f5f5f5;
    --border-color: #444;
    --link-color: #00b894;
    --button-red: rgb(222, 28, 28);
    --button-red-hover: rgb(211, 24, 24);
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.back-link a:hover {
    color: var(--button-hover-color);
    text-decoration: underline;
}

/* Cabeçalho */
header h1 {
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
}

/* Formulário */
.form-container form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--label-color);
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 10px;
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--primary-color);
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group select:focus {
    border-color: var(--button-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 184, 148, 0.3);
}

/* Botão de ação */
.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.form-actions button {
    width: 25%;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-actions button:hover {
    background-color: var(--button-hover-color);
}

.form-actions button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 184, 148, 0.3);
}

/* Botão de voltar estilizado */
a{
    text-align: center;
    padding: 10px 20px;
    color: var(--text-color);
    background-color: var(--button-red);
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: var(--button-red-hover);
}
