/* Estilo geral */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    color: var(--label-color);
    background-color: var(--primary-color-contrast);
    border-radius: 10px;
}

main h1{
    margin-bottom: 1rem;
}

form {
    color: var(--label-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

label {
    font-weight: bold;
    color: var(--field-background-color);
}

input, select {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid var(--label-color);
    background-color: var(--field-background-color);
    color: var(--field-background-color);
    font-size: 1rem;
    outline: none;
}

select:focus {
    border-color: var(--primary-color-contrast);
    background-color: var(--primary-color-contrast);
    outline: none;
}

.divButton{
    margin-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

a{
    text-decoration: none;
    text-align: center;
    width: 25%;
    font-weight: bold;
    padding: 1rem;
    font-size: 1rem;
    color: var(--label-color);
    background-color: var(--button-red);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

a:hover{
    background-color: var(--button-red-hover);
}

button {
    width: 25%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--label-color);
    background-color: var(--button-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: var(--button-hover-color);
}

.alert {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

#idCarroSelecionado {
    font-weight: bold;
    color: var(--primary-color);
}
